body {
    font-family: 'Open Sans';
    font-size: 22px;
    text-align: center;
    margin: 0;
}
* {
    box-sizing: border-box;
  }
  
.header {
 height: 70px;
 width: 100%;
 display: block;
 background-color: #fffefe;
 position: fixed;
 top: 0px;
 border-bottom: 1px solid seashell;
}

.logo {
    padding: 0px 30px;
    height: 30px;
    float: left;
   
}

.nav {
    width: max-content;
    float: right;
    margin: 0 auto;
}

.nav a {
    display: table;
    padding: 20px 20px;
    float: left;
}

.nav a li {
    text-decoration: underline;
    display: table-cell;
    vertical-align: middle;
    color: blue;
}

.mission-container {
    background-image: url('https://github.com/cipriancm/flexbox-companiy-site/blob/main/Res/Img/logistics-3125131_1920.jpg');
    filter: blur(2px);
    -webkit-filter: blur(2px);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 500px;
    width: 100%;
    margin-top: 60px;
    display: flex;
}

.text-over {
    margin: auto;
    width: 100%;
    background-color rgba(0,0,0);
    color: rgb(5, 5, 5);
    font-weight: bold;
    border: 3px solid #fffefe;
    position: absolute;
    top: 50%;
    left: 50%;
    bottom: 50px;
    padding: 50px;
    transform: translate(-50%, -50%);
    z-index: 2;
    text-align: center;
}

.ser-container {
    max-width: 1000px;
    display: inline-flex;
    height: auto;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.serv img {
    height: 200px;
    width: 300px;
    padding: 10px 10px;
}
.serv h4 {
    height: 200px;
    width: 300px;
    padding: 10px 10px;
    text-align: center;
}

.about-us-container {
    height: 30%;
    max-width: 1000px;
    margin: 40px auto 40px auto;
    padding-top: 10px;
    background-repeat: no-repeat;
    background-position: center;

}

.about-us-container img {
    width: 100%;
}

footer {
    height: 500px;
} 
.contact img {
    max-width: 300px;
    max-height: 300px;
    color: black;
}
